/*THIS FILE CONTAINS THE STYLES FOR THE PAGE "WHAT"(MAIN PAGE OF THE WEBSITE). 
LOOK AT STYLE.CSS TO SEE THE SETTINGS COMMON TO ALL PAGES*/


/* Content menu styles */

.subMenu h3 {
	padding-left : 1rem;
	padding-bottom : 0px;
	padding-top : 1rem;
	margin-bottom: 0px;	
}


.subMenu ul {
	padding-top : 0px;
	margin-top : 0px;
}

/*-------------------------*/


/* get the app menu styles */

#getStarted ul li {
	display: inline;
	padding-left :1rem;
	padding-right : 1rem;
}

/*------------------------*/